<p><a href="./auth/twitter">twitter-OAuth</a><br />
<a href="./login/twLogout">twitter-Logout</a></p>

<p><a href="./auth/evernote">evernote-OAuth</a><br />
<a href="./login/enLogout">evernote-Logout</a><br /></p>

<p><a href="./create_note/create">create a note of recent 20 tweets</a></p>

