<div class="hero-unit">
  <h1>Get your Tweets!</h1>

  <p>This application creates a new note in your evernote account, and copy your tweets in it.</p>
  
  <p><a href="./auth/twitter" class="btn btn-info">twitter-OAuth</a><br />
  <a href="./login/twLogout" class="btn btn-info">twitter-Logout</a></p>
  
  <p><a href="./auth/evernote" class="btn btn-success">evernote-OAuth</a><br />
  <a href="./login/enLogout" class="btn btn-success">evernote-Logout</a><br /></p>
  
  <p><a href="./create_note/create" class="btn btn-primary btn-large">create a note &raquo;</a></p>
</div>
