<div class="hero-unit">

  <h1>Settings</h1>

  <p>
    <label>notebook name</label>
    <input type="text" placeholder="your notebook name">
    <small class="help-block">保存先のノートブックを指定してください。</small>

    <label>tags</label>
    <input type="text" placeholder="tag names">
    <small class="help-block">ノートに付けるタグを指定してください。</small>
  </p>

  <p>
    <a href="/" class="btn">&laquo; back</a>
    <a href="./register" class="btn btn-primary">register &raquo;</a>
  </p>

</div>
