<div class="hero-unit">

  <h2>Settings</h2>

  <form>
    <fieldset>
      <label>notebook name</label>
      <input type="text" placeholder="your notebook name">
      <span class="help-block">保存先のノートブックを指定してください。</span>

      <label>tags</label>
      <input type="text" placeholder="tag names">
      <span class="help-block">ノートに付けるタグを指定してください。</span>

      <button type="submit" class="btn">register</button>
    </fieldset>
  </form>

</div>
